.admin-table {
  margin: 20px auto;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  border: 1px solid black;
  padding: 10px 25px;
  text-align: center;
}

.erro {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}